<h1>Update profile </h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |f| %>
     <%= render 'shared/error_message', object: f.object %>

      <%= f.label :username %>
      <%= f.text_field :username %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :location %>
      <%= f.text_field :location %>

      <%= f.label "Profile" %>
      <%= f.file_field :avatar %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation %>

      <%= f.submit "Save changes", class: "btn btn-primary" %>

      <a href="/auth/facebook">Login Via facebook</a>
    <% end %>
  </div>
</div>