<h1>Registation</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for @user, :html => { :multipart => true } do |f| %>
      <%= render 'shared/error_message', object: f.object %>

      <%= f.label :username %>
      <%= f.text_field :username , class: 'form-control'%>

      <%= f.label :email %>
      <%= f.text_field :email , class: 'form-control' %>

      <%= f.label :location %>
      <%= f.text_field :location , class: 'form-control'%>

      <%= f.label "Profile" %>
      <%= f.file_field :avatar %>

      <%= f.label :password %>
      <%= f.password_field :password , class: 'form-control'%>

      <%= f.label :password_confirmation, "Confirmation" %>
      <%= f.password_field :password_confirmation , class: 'form-control'%>

      <%= f.submit "Submit", class: "btn btn-primary" %>

      <a href="/auth/facebook">Login Via facebook</a>
    <% end %>
  </div>
</div>