 

 <%= image_tag @user.avatar ,:size => "80x80" %> <%= @user.username %>, <%= @user.email %>
  <section class="stats">
        <%= render 'shared/stats' %>
 </section>

 <%= render 'shared/follow_form'  %>