<h1>All Images</h1>
        	
 <br/><br/>
<% if @images.count != 0 %>
	<%= @images.each do |a| %>

		<%= image_tag a.avatar ,:size => "80x80" %>
        
	<br/><br/>
 	<% end %>
<% else %>
	Sorry ,no such records exists
<% end %>

